@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(170deg, rgba(3, 32, 71, 0.8), rgb(3, 30, 66));
  min-height: 100vh;
  color: white;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background: #021127;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: #0a2749;
  }
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}
h4 {
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  pointer-events: none;
}

img {
  pointer-events: none;
}

button,
input {
  font-family: "Inter", sans-serif;
}
button {
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 85%;
  }
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1146px) {
  html {
    font-size: 75%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }
}
