.background {
  width: 70%;
  min-height: 40vh;
  margin: 4rem auto;
  margin-top: 3rem;
  background: linear-gradient(170deg, #2f4f77, #244061);
  border-radius: 1.5rem;
  position: relative;
  text-align: center;
  flex-direction: column;
  padding: 4rem;
  display: flex;

  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 1.65rem;
    padding: 4px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(170deg, rgb(73, 120, 180), rgb(130, 171, 224));
    opacity: 0.5;
  }
  &::before {
    filter: blur(4px);
  }
}

.title {
  margin-bottom: 2rem;
  scale: 0.9;
  h3 {
    padding: 0.25rem;
  }
}

.mainInfo {
  margin: 2rem 0rem 4rem 0rem;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.2rem;
  }
  img {
    width: 4rem;
  }
}

.extraInfo {
  width: 100%;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  background: #36608fa2;
  flex-basis: 15rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  border: 3px solid #557caf;
  transition: 0.2s ease;
  transition-property: scale, box-shadow;
  h4 {
    margin-bottom: 0.5rem;
  }
  &:hover {
    scale: 1.02;
    box-shadow: 0px 0px 10px #557cafad;
  }
  &:active {
    scale: 0.98;
  }
}

.loading {
  position: absolute;
  color: white;
  top: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
}

@media screen and (max-width: 1146px) {
  .background {
    padding: 2rem;
  }
}
@media screen and (max-width: 1068px) {
  .background {
    width: 80%;
  }
}
@media screen and (max-width: 629px) {
  .background {
    width: 95%;
    background: none;
    padding: 0;
    margin: 0rem auto;
    margin-bottom: 2rem;
    &::before,
    &::after {
      background: none;
    }
  }
  .mainInfo {
    margin-bottom: 2rem;
  }
  .card {
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin: 2rem 1rem;
    flex-basis: 14rem;
  }
}
